body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}
/* Barra de promoción */
.promo-bar {
  background-color: #a3021d;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* Header principal */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #a3021d;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-lExXNxOfpUivu9lpjl6xD8t8W-YDMYylog&s);
}

.search-bar {
  flex: 1;
  margin: 0 20px;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  max-width: 500px;
}

/* Menú de navegación */
.menu {
  background-color: #a3021d;
  text-align: center;
  padding: 10px 0;
}

.menu a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #0b0b0b;
}

.Ofertas{
    color: #a3021d;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;

}

.producto {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.producto:hover {
  transform: scale(1.03);
}

.producto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.precio-original {
  text-decoration: line-through;
  color: #888;
}

.precio-descuento {
  color: #a3021d;
  font-size: 1.2em;
  font-weight: bold;
}

button {
  background-color: #a3021d;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #ff3366;
}

/* Botón para abrir el menú */
#openMenu {
  background-color: #a3021d;
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  top: 120px;
  left: 10px;
  z-index: 1001;
  border-radius: 5px;
}

/* Estilo del menú lateral */
.menu-lateral {
  position: fixed;
  top: 0;
  left: -300px;
  width: 280px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 8px rgba(0,0,0,0.2);
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1002;
}

.menu-lateral h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #93003c;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
}

.menu-lateral li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.menu-lateral li:hover {
  background-color: #f0f0f0;
}

/* Botón cerrar */
.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.hero {
  text-align: center;
  background-color: #fff;
  padding: 100px 20px;
}

/* Imagen superior */
.banner-top {
  max-width: 800px;
  margin: 0 auto 20px;
  border-radius: 10px;
  overflow: hidden;
  height: 50px; /* menor altura */
}

.banner-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius:10px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 1%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: contain; 
  border-radius: 10px;
  
}

.slider-controls {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: -120px; 
}


.slider-controls button {
  background-color: #a3021d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-controls button:hover {
  background-color: #c91538;
}

#categoriaTexto {
  font-size: 1.2rem;
  font-weight: bold;
  color: #a3021d;
}
.footer {
  background-color: #f5f5f5;
  padding: 40px 20px;
  color: #101010;
  font-family: 'Times New Roman', Times, serif;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.newsletter {
  flex: 1 1 300px;
}

.newsletter h2 {
  color: #b80000;
  margin-bottom: 10px;
}

.newsletter input {
  padding: 10px;
  width: 70%;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.newsletter button {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.newsletter button:hover {
  background-color:#a3021d; 
}

.newsletter .phone {
  margin-top: 15px;
}

.social-icons img,
.app-links img {
  width: 32px;
  margin-right: 10px;
}

.footer-links {
  flex: 2 1 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links a{
  color: #0a0a0a; 
  text-decoration: none; 
  transition: color 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
}

.footer-links a:hover {
  color: #a3021d; 
}

.footer-links ul {
  list-style: none;
  padding: 0;
  
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
}

